/*!
 * Modified parts of Bootstrap v3.3.7 (http://getbootstrap.com)
 * Copyright 2011-2016 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
#settingsModal {
    background-color: #0000005c
}

.settingsIcon {
    background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='cog' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' %3E%3Cpath fill='%23ffffff' d='M487.4 315.7l-42.6-24.6c4.3-23.2 4.3-47 0-70.2l42.6-24.6c4.9-2.8 7.1-8.6 5.5-14-11.1-35.6-30-67.8-54.7-94.6-3.8-4.1-10-5.1-14.8-2.3L380.8 110c-17.9-15.4-38.5-27.3-60.8-35.1V25.8c0-5.6-3.9-10.5-9.4-11.7-36.7-8.2-74.3-7.8-109.2 0-5.5 1.2-9.4 6.1-9.4 11.7V75c-22.2 7.9-42.8 19.8-60.8 35.1L88.7 85.5c-4.9-2.8-11-1.9-14.8 2.3-24.7 26.7-43.6 58.9-54.7 94.6-1.7 5.4.6 11.2 5.5 14L67.3 221c-4.3 23.2-4.3 47 0 70.2l-42.6 24.6c-4.9 2.8-7.1 8.6-5.5 14 11.1 35.6 30 67.8 54.7 94.6 3.8 4.1 10 5.1 14.8 2.3l42.6-24.6c17.9 15.4 38.5 27.3 60.8 35.1v49.2c0 5.6 3.9 10.5 9.4 11.7 36.7 8.2 74.3 7.8 109.2 0 5.5-1.2 9.4-6.1 9.4-11.7v-49.2c22.2-7.9 42.8-19.8 60.8-35.1l42.6 24.6c4.9 2.8 11 1.9 14.8-2.3 24.7-26.7 43.6-58.9 54.7-94.6 1.5-5.5-.7-11.3-5.6-14.1zM256 336c-44.1 0-80-35.9-80-80s35.9-80 80-80 80 35.9 80 80-35.9 80-80 80z'%3E%3C/path%3E%3C/svg%3E");
    display: block;
    width: 1em;
    height: 1em;
    float: left;
    padding: 8px 8px 11px 17px;
    background-repeat: no-repeat;
    margin: 1px 1px 1px -2px
}

.logoutIcon {
    background-image: url("data:image/svg+xml,%3Csvg class='bi bi-box-arrow-right' viewBox='0 0 16 16' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M11.646 11.354a.5.5 0 010-.708L14.293 8l-2.647-2.646a.5.5 0 01.708-.708l3 3a.5.5 0 010 .708l-3 3a.5.5 0 01-.708 0z' clip-rule='evenodd'/%3E%3Cpath fill-rule='evenodd' d='M4.5 8a.5.5 0 01.5-.5h9a.5.5 0 010 1H5a.5.5 0 01-.5-.5z' clip-rule='evenodd'/%3E%3Cpath fill-rule='evenodd' d='M2 13.5A1.5 1.5 0 01.5 12V4A1.5 1.5 0 012 2.5h7A1.5 1.5 0 0110.5 4v1.5a.5.5 0 01-1 0V4a.5.5 0 00-.5-.5H2a.5.5 0 00-.5.5v8a.5.5 0 00.5.5h7a.5.5 0 00.5-.5v-1.5a.5.5 0 011 0V12A1.5 1.5 0 019 13.5H2z' clip-rule='evenodd'/%3E%3C/svg%3E");
    display: block;
    width: 1.3em;
    height: 1.3em;
    float: left;
    background-repeat: no-repeat
}

.animationLoader {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 45 45' xmlns='http://www.w3.org/2000/svg' stroke='%2311aabb'%3E%3Cg fill='none' fill-rule='evenodd' transform='translate(1 1)' stroke-width='2'%3E%3Ccircle cx='22' cy='22' r='6' stroke-opacity='0'%3E%3Canimate attributeName='r' begin='1.5s' dur='3s' values='6;22' calcMode='linear' repeatCount='indefinite' /%3E%3Canimate attributeName='stroke-opacity' begin='1.5s' dur='3s' values='1;0' calcMode='linear' repeatCount='indefinite' /%3E%3Canimate attributeName='stroke-width' begin='1.5s' dur='3s' values='2;0' calcMode='linear' repeatCount='indefinite' /%3E%3C/circle%3E%3Ccircle cx='22' cy='22' r='6' stroke-opacity='0'%3E%3Canimate attributeName='r' begin='3s' dur='3s' values='6;22' calcMode='linear' repeatCount='indefinite' /%3E%3Canimate attributeName='stroke-opacity' begin='3s' dur='3s' values='1;0' calcMode='linear' repeatCount='indefinite' /%3E%3Canimate attributeName='stroke-width' begin='3s' dur='3s' values='2;0' calcMode='linear' repeatCount='indefinite' /%3E%3C/circle%3E%3Ccircle cx='22' cy='22' r='8'%3E%3Canimate attributeName='r' begin='0s' dur='1.5s' values='6;1;2;3;4;5;6' calcMode='linear' repeatCount='indefinite' /%3E%3C/circle%3E%3C/g%3E%3C/svg%3E");
    width: 5em;
    height: 5em;
    background-repeat: no-repeat;
    display: block;
    text-align: center;
    margin: 0 auto
}

.editIcon {
    background-image: url("data:image/svg+xml,%3Csvg class='bi bi-pencil-square' viewBox='0 0 16 16' stroke='%23555555' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.502 1.94a.5.5 0 010 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 01.707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 00-.121.196l-.805 2.414a.25.25 0 00.316.316l2.414-.805a.5.5 0 00.196-.12l6.813-6.814z'/%3E%3Cpath fill-rule='evenodd' d='M1 13.5A1.5 1.5 0 002.5 15h11a1.5 1.5 0 001.5-1.5v-6a.5.5 0 00-1 0v6a.5.5 0 01-.5.5h-11a.5.5 0 01-.5-.5v-11a.5.5 0 01.5-.5H9a.5.5 0 000-1H2.5A1.5 1.5 0 001 2.5v11z' clip-rule='evenodd'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    margin: 10px 0px 0px -4px;
    float: left
}

.editIcon a, a:active, a:focus {
    outline: none !important
}

#save,
.loader-overlay {
    color: #ccc;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    text-align: center;
    padding-top: 100px;
    background: rgba(51, 51, 51, .8);
    z-index: 2448
}


#adminPanel li {
    color: unset;
}

#adminPanel .deleteIcon {
    background-image: url("data:image/svg+xml,%3Csvg class='bi bi-trash' width='1em' height='1em' viewBox='0 0 16 16' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.5 5.5A.5.5 0 016 6v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm3 .5a.5.5 0 00-1 0v6a.5.5 0 001 0V6z'/%3E%3Cpath fill-rule='evenodd' d='M14.5 3a1 1 0 01-1 1H13v9a2 2 0 01-2 2H5a2 2 0 01-2-2V4h-.5a1 1 0 01-1-1V2a1 1 0 011-1H6a1 1 0 011-1h2a1 1 0 011 1h3.5a1 1 0 011 1v1zM4.118 4L4 4.059V13a1 1 0 001 1h6a1 1 0 001-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z' clip-rule='evenodd'/%3E%3C/svg%3E");
    display: block;
    width: 16px;
    height: 16px;
    margin: 2px 0 1px 0;
    float: left;
    background-repeat: no-repeat
}

#adminPanel .deleteIconInButton {
    background-image: url("data:image/svg+xml,%3Csvg class='bi bi-trash' width='1em' height='1em' viewBox='0 0 16 16' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.5 5.5A.5.5 0 016 6v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm3 .5a.5.5 0 00-1 0v6a.5.5 0 001 0V6z'/%3E%3Cpath fill-rule='evenodd' d='M14.5 3a1 1 0 01-1 1H13v9a2 2 0 01-2 2H5a2 2 0 01-2-2V4h-.5a1 1 0 01-1-1V2a1 1 0 011-1H6a1 1 0 011-1h2a1 1 0 011 1h3.5a1 1 0 011 1v1zM4.118 4L4 4.059V13a1 1 0 001 1h6a1 1 0 001-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z' clip-rule='evenodd'/%3E%3C/svg%3E");
    display: block;
    width: 1.1em;
    height: 1.1em;
    float: left;
    background-repeat: no-repeat;
    margin: 4px 6px 0 0
}

#adminPanel .eyeIcon {
    width: 25px;
    height: 25px;
    float: right;
    background-repeat: no-repeat;
    margin-top: 10px;
    color: #5bc0de
}

#adminPanel .eyeShowIcon {
    width: 1.4em;
    height: 1.4em;
    margin-top: 0.5em;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg class='bi bi-eye' viewBox='0 0 16 16' fill='%2311aabb' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.134 13.134 0 001.66 2.043C4.12 11.332 5.88 12.5 8 12.5c2.12 0 3.879-1.168 5.168-2.457A13.134 13.134 0 0014.828 8a13.133 13.133 0 00-1.66-2.043C11.879 4.668 10.119 3.5 8 3.5c-2.12 0-3.879 1.168-5.168 2.457A13.133 13.133 0 001.172 8z' clip-rule='evenodd'/%3E%3Cpath fill-rule='evenodd' d='M8 5.5a2.5 2.5 0 100 5 2.5 2.5 0 000-5zM4.5 8a3.5 3.5 0 117 0 3.5 3.5 0 01-7 0z' clip-rule='evenodd'/%3E%3C/svg%3E");
}

#adminPanel .eyeHideIcon {
    width: 1.4em;
    height: 1.4em;
    margin-top: 0.5em;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg class='bi bi-eye-slash'  viewBox='0 0 16 16' fill='%23aaaaaa' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7.028 7.028 0 00-2.79.588l.77.771A5.944 5.944 0 018 3.5c2.12 0 3.879 1.168 5.168 2.457A13.134 13.134 0 0114.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755-.165.165-.337.328-.517.486l.708.709z'/%3E%3Cpath d='M11.297 9.176a3.5 3.5 0 00-4.474-4.474l.823.823a2.5 2.5 0 012.829 2.829l.822.822zm-2.943 1.299l.822.822a3.5 3.5 0 01-4.474-4.474l.823.823a2.5 2.5 0 002.829 2.829z'/%3E%3Cpath d='M3.35 5.47c-.18.16-.353.322-.518.487A13.134 13.134 0 001.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7.029 7.029 0 018 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709z'/%3E%3Cpath fill-rule='evenodd' d='M13.646 14.354l-12-12 .708-.708 12 12-.708.708z' clip-rule='evenodd'/%3E%3C/svg%3E");
}

#adminPanel .addNewIcon {
    background-image: url("data:image/svg+xml,%3Csvg class='bi bi-plus-circle' width='1em' height='1em' viewBox='0 0 16 16' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M8 3.5a.5.5 0 01.5.5v4a.5.5 0 01-.5.5H4a.5.5 0 010-1h3.5V4a.5.5 0 01.5-.5z' clip-rule='evenodd'/%3E%3Cpath fill-rule='evenodd' d='M7.5 8a.5.5 0 01.5-.5h4a.5.5 0 010 1H8.5V12a.5.5 0 01-1 0V8z' clip-rule='evenodd'/%3E%3Cpath fill-rule='evenodd' d='M8 15A7 7 0 108 1a7 7 0 000 14zm0 1A8 8 0 108 0a8 8 0 000 16z' clip-rule='evenodd'/%3E%3C/svg%3E");
    display: inline-block;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    margin: -2px 4px -4px 0
}

#adminPanel .checkmarkIcon {
    background-image: url("data:image/svg+xml,%3Csvg class='bi bi-check' width='1em' height='1em' viewBox='0 0 16 16' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M13.854 3.646a.5.5 0 010 .708l-7 7a.5.5 0 01-.708 0l-3.5-3.5a.5.5 0 11.708-.708L6.5 10.293l6.646-6.647a.5.5 0 01.708 0z' clip-rule='evenodd'/%3E%3C/svg%3E");
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    background-repeat: no-repeat;
    margin: -2px 4px -2px 0
}

#adminPanel .installIcon,
.alertWrapper .installIcon {
    background-image: url("data:image/svg+xml,%3Csvg class='bi bi-download' viewBox='0 0 16 16' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M.5 8a.5.5 0 01.5.5V12a1 1 0 001 1h12a1 1 0 001-1V8.5a.5.5 0 011 0V12a2 2 0 01-2 2H2a2 2 0 01-2-2V8.5A.5.5 0 01.5 8z' clip-rule='evenodd'/%3E%3Cpath fill-rule='evenodd' d='M5 7.5a.5.5 0 01.707 0L8 9.793 10.293 7.5a.5.5 0 11.707.707l-2.646 2.647a.5.5 0 01-.708 0L5 8.207A.5.5 0 015 7.5z' clip-rule='evenodd'/%3E%3Cpath fill-rule='evenodd' d='M8 1a.5.5 0 01.5.5v8a.5.5 0 01-1 0v-8A.5.5 0 018 1z' clip-rule='evenodd'/%3E%3C/svg%3E");
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    background-repeat: no-repeat;
    margin: 0 8px -6px 0
}

#adminPanel .refreshIcon,
.alertWrapper .refreshIcon {
    background-image: url("data:image/svg+xml,%3Csvg class='bi bi-arrow-repeat' viewBox='0 0 16 16' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M2.854 7.146a.5.5 0 00-.708 0l-2 2a.5.5 0 10.708.708L2.5 8.207l1.646 1.647a.5.5 0 00.708-.708l-2-2zm13-1a.5.5 0 00-.708 0L13.5 7.793l-1.646-1.647a.5.5 0 00-.708.708l2 2a.5.5 0 00.708 0l2-2a.5.5 0 000-.708z' clip-rule='evenodd'/%3E%3Cpath fill-rule='evenodd' d='M8 3a4.995 4.995 0 00-4.192 2.273.5.5 0 01-.837-.546A6 6 0 0114 8a.5.5 0 01-1.001 0 5 5 0 00-5-5zM2.5 7.5A.5.5 0 013 8a5 5 0 009.192 2.727.5.5 0 11.837.546A6 6 0 012 8a.5.5 0 01.501-.5z' clip-rule='evenodd'/%3E%3C/svg%3E");
    width: 1.5em;
    height: 1.5em;
    background-repeat: no-repeat;
    margin: 0 8px -6px 0;
    float: left
}

#adminPanel .lockIcon {
    background-image: url("data:image/svg+xml,%3Csvg class='bi bi-lock' viewBox='0 0 16 16' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M11.5 8h-7a1 1 0 00-1 1v5a1 1 0 001 1h7a1 1 0 001-1V9a1 1 0 00-1-1zm-7-1a2 2 0 00-2 2v5a2 2 0 002 2h7a2 2 0 002-2V9a2 2 0 00-2-2h-7zm0-3a3.5 3.5 0 117 0v3h-1V4a2.5 2.5 0 00-5 0v3h-1V4z' clip-rule='evenodd'/%3E%3C/svg%3E");
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    background-repeat: no-repeat;
    margin: -2px
}

#adminPanel .uploadIcon {
    background-image: url("data:image/svg+xml,%3Csvg class='bi bi-upload' width='1em' height='1em' viewBox='0 0 16 16' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M.5 8a.5.5 0 01.5.5V12a1 1 0 001 1h12a1 1 0 001-1V8.5a.5.5 0 011 0V12a2 2 0 01-2 2H2a2 2 0 01-2-2V8.5A.5.5 0 01.5 8zM5 4.854a.5.5 0 00.707 0L8 2.56l2.293 2.293A.5.5 0 1011 4.146L8.354 1.5a.5.5 0 00-.708 0L5 4.146a.5.5 0 000 .708z' clip-rule='evenodd'/%3E%3Cpath fill-rule='evenodd' d='M8 2a.5.5 0 01.5.5v8a.5.5 0 01-1 0v-8A.5.5 0 018 2z' clip-rule='evenodd'/%3E%3C/svg%3E");
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    background-repeat: no-repeat;
    margin: -2px 7px -3px 0
}

#adminPanel .linkIcon {
    background-image: url("data:image/svg+xml,%3Csvg class='bi bi-link-45deg' width='1em' height='1em' viewBox='0 0 16 16' fill='%23aaaaaa' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.715 6.542L3.343 7.914a3 3 0 104.243 4.243l1.828-1.829A3 3 0 008.586 5.5L8 6.086a1.001 1.001 0 00-.154.199 2 2 0 01.861 3.337L6.88 11.45a2 2 0 11-2.83-2.83l.793-.792a4.018 4.018 0 01-.128-1.287z'/%3E%3Cpath d='M5.712 6.96l.167-.167a1.99 1.99 0 01.896-.518 1.99 1.99 0 01.518-.896l.167-.167A3.004 3.004 0 006 5.499c-.22.46-.316.963-.288 1.46z'/%3E%3Cpath d='M6.586 4.672A3 3 0 007.414 9.5l.775-.776a2 2 0 01-.896-3.346L9.12 3.55a2 2 0 012.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 00-4.243-4.243L6.586 4.672z'/%3E%3Cpath d='M10 9.5a2.99 2.99 0 00.288-1.46l-.167.167a1.99 1.99 0 01-.896.518 1.99 1.99 0 01-.518.896l-.167.167A3.004 3.004 0 0010 9.501z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    padding: 3px 3px 0 12px;
    margin-top: 9px;
    display: inline-block;
    width: 1.2em;
    height: 1.2em
}

#adminPanel .arrowIcon {
    background-size: cover;
    background-position-x: center;
    width: 22px;
    height: 35px;
    background-repeat: no-repeat;
    margin: 0 2px 0;
    display: inline-block;
    vertical-align: middle
}

#adminPanel .upArrowIcon {
    background-image: url("data:image/svg+xml,%3Csvg class='bi bi-arrow-up-short' viewBox='0 0 16 16' fill='%23aaaaaa' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M8 5.5a.5.5 0 01.5.5v5a.5.5 0 01-1 0V6a.5.5 0 01.5-.5z' clip-rule='evenodd'/%3E%3Cpath fill-rule='evenodd' d='M7.646 4.646a.5.5 0 01.708 0l3 3a.5.5 0 01-.708.708L8 5.707 5.354 8.354a.5.5 0 11-.708-.708l3-3z' clip-rule='evenodd'/%3E%3C/svg%3E");
    width: 2.5em;
    height: 2.5em;
    background-repeat: no-repeat;
    margin: 0 3px 0 -15px;
    display: inline-block;
    float: left;
}

#adminPanel .downArrowIcon {
    background-image: url("data:image/svg+xml,%3Csvg class='bi bi-arrow-down-short' viewBox='0 0 16 16' fill='%23aaaaaa' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M4.646 7.646a.5.5 0 01.708 0L8 10.293l2.646-2.647a.5.5 0 01.708.708l-3 3a.5.5 0 01-.708 0l-3-3a.5.5 0 010-.708z' clip-rule='evenodd'/%3E%3Cpath fill-rule='evenodd' d='M8 4.5a.5.5 0 01.5.5v5a.5.5 0 01-1 0V5a.5.5 0 01.5-.5z' clip-rule='evenodd'/%3E%3C/svg%3E");
    width: 2.5em;
    height: 2.5em;
    background-repeat: no-repeat;
    margin: 0 3px 0 -15px;
    display: inline-block;
    float: left;
}

.alertWrapper {
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    z-index: 501;
    max-width: 50%;
    font-size: 14px;
    top: 0px
}

.editText {
    word-wrap: break-word;
    border: 2px dashed #ccc;
    display: block;
    padding: 4px;
    min-height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg class='bi bi-pencil-square' viewBox='0 0 16 16' stroke='%23555555' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.502 1.94a.5.5 0 010 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 01.707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 00-.121.196l-.805 2.414a.25.25 0 00.316.316l2.414-.805a.5.5 0 00.196-.12l6.813-6.814z'/%3E%3Cpath fill-rule='evenodd' d='M1 13.5A1.5 1.5 0 002.5 15h11a1.5 1.5 0 001.5-1.5v-6a.5.5 0 00-1 0v6a.5.5 0 01-.5.5h-11a.5.5 0 01-.5-.5v-11a.5.5 0 01.5-.5H9a.5.5 0 000-1H2.5A1.5 1.5 0 001 2.5v11z' clip-rule='evenodd'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 99.8% 4px;
    background-size: 20px 20px;
    padding: 10px 25px 10px 10px;
}

.editTextOpen:focus-within {
    background-image: url("data:image/svg+xml,%3Csvg class='bi bi-pencil-square' viewBox='0 0 16 16' stroke='%2314cde1' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.502 1.94a.5.5 0 010 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 01.707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 00-.121.196l-.805 2.414a.25.25 0 00.316.316l2.414-.805a.5.5 0 00.196-.12l6.813-6.814z'/%3E%3Cpath fill-rule='evenodd' d='M1 13.5A1.5 1.5 0 002.5 15h11a1.5 1.5 0 001.5-1.5v-6a.5.5 0 00-1 0v6a.5.5 0 01-.5.5h-11a.5.5 0 01-.5-.5v-11a.5.5 0 01.5-.5H9a.5.5 0 000-1H2.5A1.5 1.5 0 001 2.5v11z' clip-rule='evenodd'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 99.8% 4px;
    background-size: 20px 20px
}

.editText textarea {
    outline: 0;
    border: none;
    width: 100%;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    background-color: transparent;
    padding-bottom: 10px;
    resize: none;
    text-align: inherit
}

.editTextOpen {
    border: 2px dashed #0eb9cc
}

.editText:empty {
    min-height: 35px
}

#adminPanel .change {
    padding-left: 20px
}

#adminPanel .marginTop5,
.alertWrapper .marginTop5 {
    margin-top: 5px
}

#adminPanel .marginTop20,
.alertWrapper .marginTop20 {
    margin-top: 20px
}

#adminPanel .marginTop40 {
    margin-top: 40px
}

#adminPanel .marginBottom20 {
    margin-bottom: 20px !important
}

#adminPanel .marginLeft5 {
    margin-left: 5px
}

#adminPanel .marginRight15 {
    margin-right: 15px
}

#adminPanel .subTitle {
    color: #aaaaaabf;
    font-size: 20px;
    font-weight: 600;
    margin: 40px 0 8px;
    font-variant: all-small-caps
}

#adminpanel select,
.wbtn,
.wform-control {
    font-variant: all-small-caps
}

#adminPanel .menu-item-delete,
.menu-item-hide,
.menu-item-show {
    cursor: pointer
}

#adminPanel .tab-content {
    margin-top: 20px
}
#adminPanel .fas,
.cursorPointer,
.editText {
    cursor: pointer
}

#adminPanel .fontSize21 {
    font-size: 21px
}

#adminPanel a {
    color: #fff;
    outline: 0;
    border: 0;
    text-decoration: none
}

ul.nav-tabs > li > a {
    color: #aaa;
}

#adminPanel a.wbtn,
#adminpanel .alert a {
    color: #fff !important:
}

#adminPanel .editText {
    color: #555;
    font-variant: normal
}

#adminPanel .normalFont {
    font-variant: normal;
    word-wrap: break-word
}

#adminPanel .nav-tabs > li > a:after {
    content: "";
    background: #1ab;
    height: 2px;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -2px;
    transition: all .25s ease 0s;
    transform: scale(0)
}

#adminPanel .nav-tabs > li.active > a:after,
#adminPanel .nav-tabs > li:hover > a,
#adminPanel .nav-tabs > li:hover > a:after,
#adminPanel .nav-tabs > li > a {
    transform: scale(1)
}

#adminPanel .nav-tabs > li > a.active {
    color: #1ab !important;
    border-bottom: 2px solid #1ab !important;
}

#adminPanel .modal-content {
    background-color: #eee
}

#adminPanel .modal-header {
    border: 0
}

#adminPanel .nav li {
    font-size: 25px;
    float: none;
    display: inline-block;
    font-weight: bold;
    font-variant: all-small-caps
}

#adminPanel .tab-pane.active a.wbtn {
    color: #fff
}

#adminPanel .nav-link.active,
#adminPanel .nav-tabs > li.active a,
#adminPanel .tab-pane.active {
    background: 0 !important;
    border: 0 !important;
    color: #aaa !important
}

#adminPanel .clear {
    clear: both
}

#adminPanel .custom-cards > div {
    margin: 15px 0
}

#adminPanel .custom-cards > div > div {
    box-shadow: -1px -1px 6px 0 rgba(0, 0, 0, .1);
    padding: .8em;
    font-size: .9em
}

#adminPanel .custom-cards > div > div h4 {
    font-weight: 700;
    font-size: 1.5em;
    margin-bottom: .2em;
    line-height: 1em;
    min-height: 40px;
    margin-top: 1em
}

#adminPanel .custom-cards .wbtn {
    font-size: 1em
}

#adminPanel .custom-cards .deleteIcon {
    font-size: 1.1em
}

#adminPanel .custom-cards .coll-sm-4:nth-child(3n+1) {
    clear: left
}

#adminPanel .button {
    position: fixed;
    z-index: 1040;
    padding: 5px 10px 5px 10px;
    font-size: 15px !important
}

#adminPanel .settings {
    top: 90px;
    right: 105px;
    min-height: 36px;
    max-height: 36px;
    opacity: 0.9
}

#adminPanel .logout {
    top: 90px;
    right: 50px;
    min-height: 36px;
    max-height: 36px;
    opacity: 0.9
}

#adminPanel footer,
header,
nav,
section,
summary {
    display: block
}

#adminPanel textarea {
    overflow: auto
}

#adminPanel * {
    box-sizing: border-box
}

#adminPanel::after,
::before {
    box-sizing: border-box
}

#adminPanel {
    font-family: Lucida Sans Unicode, Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 1.42857;
    color: #333;
    background-color: #fff;
    font-variant: small-caps;
    text-shadow: none
}

#adminPanel button,
input,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    letter-spacing: inherit
}

#adminPanel p {
    margin: 0 0 10px
}

#adminPanel .small {
    font-size: 85%
}

#adminPanel .text-left {
    text-align: left
}

#adminPanel .text-right {
    text-align: right
}

#adminPanel .text-center {
    text-align: center !important
}

#adminPanel b, .custom-cards h4, .alertWrapper b {
    color: inherit
}
    
#adminPanel .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

#adminPanel .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

#adminPanel .row {
    margin-right: -15px;
    margin-left: -15px
}

#adminPanel [class^="coll-"] {
    margin-bottom: 5px;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}

#adminPanel [class^="coll-xs-"] {
    float: left
}

#adminPanel .coll-xs-12 {
    width: 100%;
    float: left
}

#adminPanel .coll-xs-11 {
    width: 91.66666667%
}

#adminPanel .coll-xs-10 {
    width: 83.33333333%
}

#adminPanel .coll-xs-9 {
    width: 75%
}

#adminPanel .coll-xs-8 {
    width: 66.66666667%
}

#adminPanel .coll-xs-7 {
    width: 58.33333333%
}

#adminPanel .coll-xs-6 {
    width: 50%
}

#adminPanel .coll-xs-5 {
    width: 41.66666667%
}

#adminPanel .coll-xs-4 {
    width: 33.33333333%
}

#adminPanel .coll-xs-3 {
    width: 25%
}

#adminPanel .coll-xs-2 {
    width: 16.66666667%
}

#adminPanel .coll-xs-1 {
    width: 8.33333333%
}

#adminPanel .coll-xs-pull-12 {
    right: 100%
}

#adminPanel .coll-xs-pull-11 {
    right: 91.66666667%
}

#adminPanel .coll-xs-pull-10 {
    right: 83.33333333%
}

#adminPanel .coll-xs-pull-9 {
    right: 75%
}

#adminPanel .coll-xs-pull-8 {
    right: 66.66666667%
}

#adminPanel .coll-xs-pull-7 {
    right: 58.33333333%
}

#adminPanel .coll-xs-pull-6 {
    right: 50%
}

#adminPanel .coll-xs-pull-5 {
    right: 41.66666667%
}

#adminPanel .coll-xs-pull-4 {
    right: 33.33333333%
}

#adminPanel .coll-xs-pull-3 {
    right: 25%
}

#adminPanel .coll-xs-pull-2 {
    right: 16.66666667%
}

#adminPanel .coll-xs-pull-1 {
    right: 8.33333333%
}

#adminPanel .coll-xs-pull-0 {
    right: auto
}

#adminPanel .coll-xs-push-12 {
    left: 100%
}

#adminPanel .coll-xs-push-11 {
    left: 91.66666667%
}

#adminPanel .coll-xs-push-10 {
    left: 83.33333333%
}

#adminPanel .coll-xs-push-9 {
    left: 75%
}

#adminPanel .coll-xs-push-8 {
    left: 66.66666667%
}

#adminPanel .coll-xs-push-7 {
    left: 58.33333333%
}

#adminPanel .coll-xs-push-6 {
    left: 50%
}

#adminPanel .coll-xs-push-5 {
    left: 41.66666667%
}

#adminPanel .coll-xs-push-4 {
    left: 33.33333333%
}

#adminPanel .coll-xs-push-3 {
    left: 25%
}

#adminPanel .coll-xs-push-2 {
    left: 16.66666667%
}

#adminPanel .coll-xs-push-1 {
    left: 8.33333333%
}

#adminPanel .coll-xs-push-0 {
    left: auto
}

#adminPanel .coll-xs-offset-12 {
    margin-left: 100%
}

#adminPanel .coll-xs-offset-11 {
    margin-left: 91.66666667%
}

#adminPanel .coll-xs-offset-10 {
    margin-left: 83.33333333%
}

#adminPanel .coll-xs-offset-9 {
    margin-left: 75%
}

#adminPanel .coll-xs-offset-8 {
    margin-left: 66.66666667%
}

#adminPanel .coll-xs-offset-7 {
    margin-left: 58.33333333%
}

#adminPanel .coll-xs-offset-6 {
    margin-left: 50%
}

#adminPanel .coll-xs-offset-5 {
    margin-left: 41.66666667%
}

#adminPanel .coll-xs-offset-4 {
    margin-left: 33.33333333%
}

#adminPanel .coll-xs-offset-3 {
    margin-left: 25%
}

#adminPanel .coll-xs-offset-2 {
    margin-left: 16.66666667%
}

#adminPanel .coll-xs-offset-1 {
    margin-left: 8.33333333%
}

#adminPanel .coll-xs-offset-0 {
    margin-left: 0
}

@media (min-width: 768px) {
    #adminPanel .coll-sm-1,
    .coll-sm-10,
    .coll-sm-11,
    .coll-sm-12,
    .coll-sm-2,
    .coll-sm-3,
    .coll-sm-4,
    .coll-sm-5,
    .coll-sm-6,
    .coll-sm-7,
    .coll-sm-8,
    .coll-sm-9 {
        float: left
    }

    #adminPanel .coll-sm-12 {
        width: 100%
    }

    #adminPanel .coll-sm-11 {
        width: 91.66666667%
    }

    #adminPanel .coll-sm-10 {
        width: 83.33333333%
    }

    #adminPanel .coll-sm-9 {
        width: 75%
    }

    #adminPanel .coll-sm-8 {
        width: 66.66666667%
    }

    #adminPanel .coll-sm-7 {
        width: 58.33333333%
    }

    #adminPanel .coll-sm-6 {
        width: 50%
    }

    #adminPanel .coll-sm-5 {
        width: 41.66666667%
    }

    #adminPanel .coll-sm-4 {
        width: 33.33333333%
    }

    #adminPanel .coll-sm-3 {
        width: 25%
    }

    #adminPanel .coll-sm-2 {
        width: 16.66666667%
    }

    #adminPanel .coll-sm-1 {
        width: 8.33333333%
    }

    #adminPanel .coll-sm-pull-12 {
        right: 100%
    }

    #adminPanel .coll-sm-pull-11 {
        right: 91.66666667%
    }

    #adminPanel .coll-sm-pull-10 {
        right: 83.33333333%
    }

    #adminPanel .coll-sm-pull-9 {
        right: 75%
    }

    #adminPanel .coll-sm-pull-8 {
        right: 66.66666667%
    }

    #adminPanel .coll-sm-pull-7 {
        right: 58.33333333%
    }

    #adminPanel .coll-sm-pull-6 {
        right: 50%
    }

    #adminPanel .coll-sm-pull-5 {
        right: 41.66666667%
    }

    #adminPanel .coll-sm-pull-4 {
        right: 33.33333333%
    }

    #adminPanel .coll-sm-pull-3 {
        right: 25%
    }

    #adminPanel .coll-sm-pull-2 {
        right: 16.66666667%
    }

    #adminPanel .coll-sm-pull-1 {
        right: 8.33333333%
    }

    #adminPanel .coll-sm-pull-0 {
        right: auto
    }

    #adminPanel .coll-sm-push-12 {
        left: 100%
    }

    #adminPanel .coll-sm-push-11 {
        left: 91.66666667%
    }

    #adminPanel .coll-sm-push-10 {
        left: 83.33333333%
    }

    #adminPanel .coll-sm-push-9 {
        left: 75%
    }

    #adminPanel .coll-sm-push-8 {
        left: 66.66666667%
    }

    #adminPanel .coll-sm-push-7 {
        left: 58.33333333%
    }

    #adminPanel .coll-sm-push-6 {
        left: 50%
    }

    #adminPanel .coll-sm-push-5 {
        left: 41.66666667%
    }

    #adminPanel .coll-sm-push-4 {
        left: 33.33333333%
    }

    #adminPanel .coll-sm-push-3 {
        left: 25%
    }

    #adminPanel .coll-sm-push-2 {
        left: 16.66666667%
    }

    #adminPanel .coll-sm-push-1 {
        left: 8.33333333%
    }

    #adminPanel .coll-sm-push-0 {
        left: auto
    }

    #adminPanel .coll-sm-offset-12 {
        margin-left: 100%
    }

    #adminPanel .coll-sm-offset-11 {
        margin-left: 91.66666667%
    }

    #adminPanel .coll-sm-offset-10 {
        margin-left: 83.33333333%
    }

    #adminPanel .coll-sm-offset-9 {
        margin-left: 75%
    }

    #adminPanel .coll-sm-offset-8 {
        margin-left: 66.66666667%
    }

    #adminPanel .coll-sm-offset-7 {
        margin-left: 58.33333333%
    }

    #adminPanel .coll-sm-offset-6 {
        margin-left: 50%
    }

    #adminPanel .coll-sm-offset-5 {
        margin-left: 41.66666667%
    }

    #adminPanel .coll-sm-offset-4 {
        margin-left: 33.33333333%
    }

    #adminPanel .coll-sm-offset-3 {
        margin-left: 25%
    }

    #adminPanel .coll-sm-offset-2 {
        margin-left: 16.66666667%
    }

    #adminPanel .coll-sm-offset-1 {
        margin-left: 8.33333333%
    }

    #adminPanel .coll-sm-offset-0 {
        margin-left: 0
    }
}

@media (min-width: 992px) {
    #adminPanel .coll-md-1,
    .coll-md-10,
    .coll-md-11,
    .coll-md-12,
    .coll-md-2,
    .coll-md-3,
    .coll-md-4,
    .coll-md-5,
    .coll-md-6,
    .coll-md-7,
    .coll-md-8,
    .coll-md-9 {
        float: left
    }

    #adminPanel .coll-md-12 {
        width: 100%
    }

    #adminPanel .coll-md-11 {
        width: 91.66666667%
    }

    #adminPanel .coll-md-10 {
        width: 83.33333333%
    }

    #adminPanel .coll-md-9 {
        width: 75%
    }

    #adminPanel .coll-md-8 {
        width: 66.66666667%
    }

    #adminPanel .coll-md-7 {
        width: 58.33333333%
    }

    #adminPanel .coll-md-6 {
        width: 50%
    }

    #adminPanel .coll-md-5 {
        width: 41.66666667%
    }

    #adminPanel .coll-md-4 {
        width: 33.33333333%
    }

    #adminPanel .coll-md-3 {
        width: 25%
    }

    #adminPanel .coll-md-2 {
        width: 16.66666667%
    }

    #adminPanel .coll-md-1 {
        width: 8.33333333%
    }

    #adminPanel .coll-md-pull-12 {
        right: 100%
    }

    #adminPanel .coll-md-pull-11 {
        right: 91.66666667%
    }

    #adminPanel .coll-md-pull-10 {
        right: 83.33333333%
    }

    #adminPanel .coll-md-pull-9 {
        right: 75%
    }

    #adminPanel .coll-md-pull-8 {
        right: 66.66666667%
    }

    #adminPanel .coll-md-pull-7 {
        right: 58.33333333%
    }

    #adminPanel .coll-md-pull-6 {
        right: 50%
    }

    #adminPanel .coll-md-pull-5 {
        right: 41.66666667%
    }

    #adminPanel .coll-md-pull-4 {
        right: 33.33333333%
    }

    #adminPanel .coll-md-pull-3 {
        right: 25%
    }

    #adminPanel .coll-md-pull-2 {
        right: 16.66666667%
    }

    #adminPanel .coll-md-pull-1 {
        right: 8.33333333%
    }

    #adminPanel .coll-md-push-12 {
        left: 100%
    }

    #adminPanel .coll-md-push-11 {
        left: 91.66666667%
    }

    #adminPanel .coll-md-push-10 {
        left: 83.33333333%
    }

    #adminPanel .coll-md-push-9 {
        left: 75%
    }

    #adminPanel .coll-md-push-8 {
        left: 66.66666667%
    }

    #adminPanel .coll-md-push-7 {
        left: 58.33333333%
    }

    #adminPanel .coll-md-push-6 {
        left: 50%
    }

    #adminPanel .coll-md-push-5 {
        left: 41.66666667%
    }

    #adminPanel .coll-md-push-4 {
        left: 33.33333333%
    }

    #adminPanel .coll-md-push-3 {
        left: 25%
    }

    #adminPanel .coll-md-push-2 {
        left: 16.66666667%
    }

    #adminPanel .coll-md-push-1 {
        left: 8.33333333%
    }

    #adminPanel .coll-md-push-0 {
        left: auto
    }

    #adminPanel .coll-md-offset-12 {
        margin-left: 100%
    }

    #adminPanel .coll-md-offset-11 {
        margin-left: 91.66666667%
    }

    #adminPanel .coll-md-offset-10 {
        margin-left: 83.33333333%
    }

    #adminPanel .coll-md-offset-9 {
        margin-left: 75%
    }

    #adminPanel .coll-md-offset-8 {
        margin-left: 66.66666667%
    }

    #adminPanel .coll-md-offset-7 {
        margin-left: 58.33333333%
    }

    #adminPanel .coll-md-offset-6 {
        margin-left: 50%
    }

    #adminPanel .coll-md-offset-5 {
        margin-left: 41.66666667%
    }

    #adminPanel .coll-md-offset-4 {
        margin-left: 33.33333333%
    }

    #adminPanel .coll-md-offset-3 {
        margin-left: 25%
    }

    #adminPanel .coll-md-offset-2 {
        margin-left: 16.66666667%
    }

    #adminPanel .coll-md-offset-1 {
        margin-left: 8.33333333%
    }

    #adminPanel .coll-md-offset-0 {
        margin-left: 0
    }
}

@media (min-width: 1200px) {
    #adminPanel .coll-lg-1,
    .coll-lg-10,
    .coll-lg-11,
    .coll-lg-12,
    .coll-lg-2,
    .coll-lg-3,
    .coll-lg-4,
    .coll-lg-5,
    .coll-lg-6,
    .coll-lg-7,
    .coll-lg-8,
    .coll-lg-9 {
        float: left
    }

    #adminPanel .coll-lg-12 {
        width: 100%
    }

    #adminPanel .coll-lg-11 {
        width: 91.66666667%
    }

    #adminPanel .coll-lg-10 {
        width: 83.33333333%
    }

    #adminPanel .coll-lg-9 {
        width: 75%
    }

    #adminPanel .coll-lg-8 {
        width: 66.66666667%
    }

    #adminPanel .coll-lg-7 {
        width: 58.33333333%
    }

    #adminPanel .coll-lg-6 {
        width: 50%
    }

    #adminPanel .coll-lg-5 {
        width: 41.66666667%
    }

    #adminPanel .coll-lg-4 {
        width: 33.33333333%
    }

    #adminPanel .coll-lg-3 {
        width: 25%
    }

    #adminPanel .coll-lg-2 {
        width: 16.66666667%
    }

    #adminPanel .coll-lg-1 {
        width: 8.33333333%
    }

    #adminPanel .coll-lg-pull-12 {
        right: 100%
    }

    #adminPanel .coll-lg-pull-11 {
        right: 91.66666667%
    }

    #adminPanel .coll-lg-pull-10 {
        right: 83.33333333%
    }

    #adminPanel .coll-lg-pull-9 {
        right: 75%
    }

    #adminPanel .coll-lg-pull-8 {
        right: 66.66666667%
    }

    #adminPanel .coll-lg-pull-7 {
        right: 58.33333333%
    }

    #adminPanel .coll-lg-pull-6 {
        right: 50%
    }

    #adminPanel .coll-lg-pull-5 {
        right: 41.66666667%
    }

    #adminPanel .coll-lg-pull-4 {
        right: 33.33333333%
    }

    #adminPanel .coll-lg-pull-3 {
        right: 25%
    }

    #adminPanel .coll-lg-pull-2 {
        right: 16.66666667%
    }

    #adminPanel .coll-lg-pull-1 {
        right: 8.33333333%
    }

    #adminPanel .coll-lg-pull-0 {
        right: auto
    }

    #adminPanel .coll-lg-push-12 {
        left: 100%
    }

    #adminPanel .coll-lg-push-11 {
        left: 91.66666667%
    }

    #adminPanel .coll-lg-push-10 {
        left: 83.33333333%
    }

    #adminPanel .coll-lg-push-9 {
        left: 75%
    }

    #adminPanel .coll-lg-push-8 {
        left: 66.66666667%
    }

    #adminPanel .coll-lg-push-7 {
        left: 58.33333333%
    }

    #adminPanel .coll-lg-push-6 {
        left: 50%
    }

    #adminPanel .coll-lg-push-5 {
        left: 41.66666667%
    }

    #adminPanel .coll-lg-push-4 {
        left: 33.33333333%
    }

    #adminPanel .coll-lg-push-3 {
        left: 25%
    }

    #adminPanel .coll-lg-push-2 {
        left: 16.66666667%
    }

    #adminPanel .coll-lg-push-1 {
        left: 8.33333333%
    }

    #adminPanel .coll-lg-push-0 {
        left: auto
    }

    #adminPanel .coll-lg-offset-12 {
        margin-left: 100%
    }

    #adminPanel .coll-lg-offset-11 {
        margin-left: 91.66666667%
    }

    #adminPanel .coll-lg-offset-10 {
        margin-left: 83.33333333%
    }

    #adminPanel .coll-lg-offset-9 {
        margin-left: 75%
    }

    #adminPanel .coll-lg-offset-8 {
        margin-left: 66.66666667%
    }

    #adminPanel .coll-lg-offset-7 {
        margin-left: 58.33333333%
    }

    #adminPanel .coll-lg-offset-6 {
        margin-left: 50%
    }

    #adminPanel .coll-lg-offset-5 {
        margin-left: 41.66666667%
    }

    #adminPanel .coll-lg-offset-4 {
        margin-left: 33.33333333%
    }

    #adminPanel .coll-lg-offset-3 {
        margin-left: 25%
    }

    #adminPanel .coll-lg-offset-2 {
        margin-left: 16.66666667%
    }

    #adminPanel .coll-lg-offset-1 {
        margin-left: 8.33333333%
    }

    #adminPanel .coll-lg-offset-0 {
        margin-left: 0
    }
}

#adminPanel input[type=file]:focus,
input[type=checkbox]:focus,
input[type=radio]:focus {
    outline: -webkit-focus-ring-color auto 5px;
    outline-offset: -2px;
    background-color: #fff
}

#adminPanel .wform-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555;
    background-color: #fff !important;
    background-image: none;
    border: 0;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .075) 0 1px 1px inset;
    transition: border-color .15s ease-in-out 0s, box-shadow .15s ease-in-out 0s
}

#adminPanel .wform-control:focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: rgba(0, 0, 0, .075) 0 1px 1px inset, rgba(102, 175, 233, .6) 0 0 8px
}

#adminPanel .wform-control::-webkit-input-placeholder {
    color: #999
}

#adminPanel .wform-control[disabled],
.wform-control[readonly],
fieldset[disabled] .wform-control {
    background-color: #eee;
    opacity: 1
}

#adminPanel .wform-control[disabled],
fieldset[disabled] .wform-control {
    cursor: not-allowed
}

#adminPanel textarea.wform-control {
    height: auto
}

#adminPanel .wform-group {
    margin-bottom: 15px
}

#adminPanel .wform-group-sm .wform-control {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px
}

#adminPanel .wform-group-sm select.wform-control {
    height: 30px;
    line-height: 30px
}

#adminPanel .wform-group-sm select[multiple].wform-control,
.wform-group-sm textarea.wform-control {
    height: auto
}

#adminPanel .wform-group-lg .wform-control {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33333;
    border-radius: 6px
}

#adminPanel .wform-group-lg select.wform-control {
    height: 46px;
    line-height: 46px
}

#adminPanel .wform-group-lg select[multiple].wform-control,
.wform-group-lg textarea.wform-control {
    height: auto
}

#adminPanel .wform-group-lg .wform-control + .wform-control-feedback,
.winput-group-lg + .wform-control-feedback,
.winput-lg + .wform-control-feedback {
    width: 46px;
    height: 46px;
    line-height: 46px
}

#adminPanel .wform-group-sm .wform-control + .wform-control-feedback,
.winput-group-sm + .wform-control-feedback,
.winput-sm + .wform-control-feedback {
    width: 30px;
    height: 30px;
    line-height: 30px
}

#adminPanel .wform-horizontal .wform-group {
    margin-right: -15px;
    margin-left: -15px
}

#adminPanel .border-bottom-separator {
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: rgba(221, 221, 221, 0.5)
}

#adminPanel .border-left-separator {
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: rgba(221, 221, 221, 0.5)
}

#adminPanel .wbtn.disabled,
.wbtn[disabled],
fieldset[disabled] .wbtn {
    cursor: not-allowed !important;
    box-shadow: none;
    opacity: .65
}

#adminPanel .wbtn,
.alertWrapper .wbtn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: inherit
}

#adminPanel button.close,
.alertWrapper button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0 !important
}

#adminPanel .wbtn-default.active,
.wbtn-default:active,
.open > .dropdown-toggle.wbtn-default {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad
}

#adminPanel .wbtn-default.active.focus,
.wbtn-default.active:focus,
.wbtn-default.active:hover,
.wbtn-default:active.focus,
.wbtn-default:active:focus,
.wbtn-default:active:hover,
.open > .dropdown-toggle.wbtn-default.focus,
.open > .dropdown-toggle.wbtn-default:focus,
.open > .dropdown-toggle.wbtn-default:hover {
    color: #333;
    background-color: #d4d4d4;
    border-color: #8c8c8c
}

#adminPanel .wbtn-default.active,
.wbtn-default:active,
.open > .dropdown-toggle.wbtn-default {
    background-image: none
}

#adminPanel .wbtn-secondary {
    color: #fff !important;
    background-color: #00000045
}

#adminPanel .wbtn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4
}

#adminPanel .wbtn-primary.focus,
.wbtn-primary:focus {
    color: #fff;
    background-color: #286090;
    border-color: #122b40
}

#adminPanel .wbtn-primary:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74
}

#adminPanel .wbtn-primary.active,
.wbtn-primary:active,
.open > .dropdown-toggle.wbtn-primary {
    color: #fff;
    background-color: #286090;
    border-color: #204d74
}

#adminPanel .wbtn-primary.active.focus,
.wbtn-primary.active:focus,
.wbtn-primary.active:hover,
.wbtn-primary:active.focus,
.wbtn-primary:active:focus,
.wbtn-primary:active:hover,
.open > .dropdown-toggle.wbtn-primary.focus,
.open > .dropdown-toggle.wbtn-primary:focus,
.open > .dropdown-toggle.wbtn-primary:hover {
    color: #fff;
    background-color: #204d74;
    border-color: #122b40
}

#adminPanel .wbtn-primary.active,
.wbtn-primary:active,
.open > .dropdown-toggle.wbtn-primary {
    background-image: none
}

#adminPanel .wbtn-primary.disabled.focus,
.wbtn-primary.disabled:focus,
.wbtn-primary.disabled:hover,
.wbtn-primary[disabled].focus,
.wbtn-primary[disabled]:focus,
.wbtn-primary[disabled]:hover,
fieldset[disabled] .wbtn-primary.focus,
fieldset[disabled] .wbtn-primary:focus,
fieldset[disabled] .wbtn-primary:hover {
    background-color: #337ab7;
    border-color: #2e6da4
}

#adminPanel .wbtn-primary .badge {
    color: #337ab7;
    background-color: #fff
}

#adminPanel .wbtn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c
}

#adminPanel .wbtn-success.focus,
.wbtn-success:focus {
    color: #fff;
    background-color: #449d44;
    border-color: #255625
}

#adminPanel .wbtn-success:hover {
    color: #fff;
    background-color: #449d44;
    border-color: #398439
}

#adminPanel .wbtn-success.active,
.wbtn-success:active,
.open > .dropdown-toggle.wbtn-success {
    color: #fff;
    background-color: #449d44;
    border-color: #398439
}

#adminPanel .wbtn-success.active.focus,
.wbtn-success.active:focus,
.wbtn-success.active:hover,
.wbtn-success:active.focus,
.wbtn-success:active:focus,
.wbtn-success:active:hover,
.open > .dropdown-toggle.wbtn-success.focus,
.open > .dropdown-toggle.wbtn-success:focus,
.open > .dropdown-toggle.wbtn-success:hover {
    color: #fff;
    background-color: #398439;
    border-color: #255625
}

#adminPanel .wbtn-success.active,
.wbtn-success:active,
.open > .dropdown-toggle.wbtn-success {
    background-image: none
}

#adminPanel .wbtn-success.disabled.focus,
.wbtn-success.disabled:focus,
.wbtn-success.disabled:hover,
.wbtn-success[disabled].focus,
.wbtn-success[disabled]:focus,
.wbtn-success[disabled]:hover,
fieldset[disabled] .wbtn-success.focus,
fieldset[disabled] .wbtn-success:focus,
fieldset[disabled] .wbtn-success:hover {
    background-color: #5cb85c;
    border-color: #4cae4c
}

#adminPanel .wbtn-success .badge {
    color: #5cb85c;
    background-color: #fff
}

#adminPanel .wbtn-info,
.alertWrapper .wbtn-info {
    color: #fff !important;
    background-color: #5bc0de;
    border-color: #46b8da;
    letter-spacing: normal
}

#adminPanel .wbtn-info.focus,
.alertWrapper .wbtn-info.focus,
.wbtn-info:focus {
    color: #fff;
    background-color: #31b0d5;
    border-color: #1b6d85
}

#adminPanel .wbtn-info:hover,
.alertWrapper .wbtn-info:hover {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc
}

#adminPanel .wbtn-info.active,
.wbtn-info:active,
.open > .dropdown-toggle.wbtn-info {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc
}

#adminPanel .wbtn-info.active.focus,
.wbtn-info.active:focus,
.wbtn-info.active:hover,
.wbtn-info:active.focus,
.wbtn-info:active:focus,
.wbtn-info:active:hover,
.open > .dropdown-toggle.wbtn-info.focus,
.open > .dropdown-toggle.wbtn-info:focus,
.open > .dropdown-toggle.wbtn-info:hover {
    color: #fff;
    background-color: #269abc;
    border-color: #1b6d85
}

#adminPanel .wbtn-info.active,
.wbtn-info:active,
.open > .dropdown-toggle.wbtn-info {
    background-image: none
}

#adminPanel .wbtn-info.disabled.focus,
.wbtn-info.disabled:focus,
.wbtn-info.disabled:hover,
.wbtn-info[disabled].focus,
.wbtn-info[disabled]:focus,
.wbtn-info[disabled]:hover,
fieldset[disabled] .wbtn-info.focus,
fieldset[disabled] .wbtn-info:focus,
fieldset[disabled] .wbtn-info:hover {
    background-color: #5bc0de;
    border-color: #46b8da
}

#adminPanel .wbtn-info .badge {
    color: #5bc0de;
    background-color: #fff
}

#adminPanel .danger {
    color: #ea8400
}

#adminPanel .wbtn-danger {
    color: #fff !important;
    background-color: #d9534f;
    border-color: #d43f3a
}

#adminPanel .wbtn-danger.focus,
.wbtn-danger:focus {
    color: #fff;
    background-color: #c9302c;
    border-color: #761c19
}

#adminPanel .wbtn-danger:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925
}

#adminPanel .wbtn-danger.active,
.wbtn-danger:active,
.open > .dropdown-toggle.wbtn-danger {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925
}

#adminPanel .wbtn-danger.active.focus,
.wbtn-danger.active:focus,
.wbtn-danger.active:hover,
.wbtn-danger:active.focus,
.wbtn-danger:active:focus,
.wbtn-danger:active:hover,
.open > .dropdown-toggle.wbtn-danger.focus,
.open > .dropdown-toggle.wbtn-danger:focus,
.open > .dropdown-toggle.wbtn-danger:hover {
    color: #fff;
    background-color: #ac2925;
    border-color: #761c19
}

#adminPanel .wbtn-danger.active,
.wbtn-danger:active,
.open > .dropdown-toggle.wbtn-danger {
    background-image: none
}

#adminPanel .wbtn-danger.disabled.focus,
.wbtn-danger.disabled:focus,
.wbtn-danger.disabled:hover,
.wbtn-danger[disabled].focus,
.wbtn-danger[disabled]:focus,
.wbtn-danger[disabled]:hover,
fieldset[disabled] .wbtn-danger.focus,
fieldset[disabled] .wbtn-danger:focus,
fieldset[disabled] .wbtn-danger:hover {
    background-color: #d9534f;
    border-color: #d43f3a
}

#adminPanel .wbtn-danger .badge {
    color: #d9534f;
    background-color: #fff
}

#adminPanel .wbtn-link,
.wbtn-link.active,
.wbtn-link:active,
.wbtn-link[disabled],
fieldset[disabled] .wbtn-link {
    background-color: transparent;
    box-shadow: none
}

#adminPanel .wbtn-block {
    display: block;
    width: 100%
}

#adminPanel .wbtn-block + .wbtn-block {
    margin-top: 5px
}

#adminPanel input[type=button].wbtn-block,
input[type=reset].wbtn-block,
input[type=submit].wbtn-block {
    width: 100%
}

#adminPanel .winput-group {
    position: relative;
    display: table;
    border-collapse: separate
}

#adminPanel .winput-group .wform-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0
}

#adminPanel .winput-group .wform-control:focus {
    z-index: 3
}

#adminPanel .winput-group-lg > .wform-control,
.winput-group-lg > .winput-group-addon,
.winput-group-lg > .winput-group-btn > .wbtn {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33333;
    border-radius: 6px
}

#adminPanel .winput-group-sm > .wform-control,
.winput-group-sm > .winput-group-addon,
.winput-group-sm > .winput-group-btn > .wbtn {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px
}

#adminPanel .winput-group .wform-control,
.winput-group-addon,
.winput-group-btn {
    display: table-cell
}

#adminPanel .winput-group .wform-control:not(:first-child):not(:last-child),
.winput-group-addon:not(:first-child):not(:last-child),
.winput-group-btn:not(:first-child):not(:last-child) {
    border-radius: 0;
    border: 0
}

#adminPanel .winput-group-addon,
.winput-group-btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle
}

#adminPanel .winput-group .wform-control:first-child,
.winput-group-addon:first-child,
.winput-group-btn:first-child > .wbtn,
.winput-group-btn:first-child > .wbtn-group > .wbtn,
.winput-group-btn:first-child > .dropdown-toggle,
.winput-group-btn:last-child > .wbtn-group:not(:last-child) > .wbtn,
.winput-group-btn:last-child > .wbtn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: 0
}

#adminPanel .winput-group .wform-control:last-child,
.winput-group-addon:last-child,
.winput-group-btn:first-child > .wbtn-group:not(:first-child) > .wbtn,
.winput-group-btn:first-child > .wbtn:not(:first-child),
.winput-group-btn:last-child > .wbtn,
.winput-group-btn:last-child > .wbtn-group > .wbtn,
.winput-group-btn:last-child > .dropdown-toggle {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}

#adminPanel .winput-group-btn {
    position: relative;
    white-space: nowrap
}

#adminPanel .winput-group-btn > .wbtn {
    position: relative
}

#adminPanel .winput-group-btn > .wbtn + .wbtn {
    margin-left: -1px
}

#adminPanel .winput-group-btn > .wbtn:active,
.winput-group-btn > .wbtn:focus,
.winput-group-btn > .wbtn:hover {
    z-index: 2
}

#adminPanel .winput-group-btn:first-child > .wbtn,
.winput-group-btn:first-child > .wbtn-group {
    margin-right: -1px
}

#adminPanel .winput-group-btn:last-child > .wbtn,
.winput-group-btn:last-child > .wbtn-group {
    z-index: 2;
    margin-left: -1px
}

#adminPanel .nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

#adminPanel .nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px
}

#adminPanel .nav > li > a:focus,
.nav > li > a:hover {
    text-decoration: none;
    background: 0 0 !important
}

#adminPanel .nav .nav-divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
    border: none
}

#adminPanel .nav-tabs {
    border-bottom: 1px solid #ddd
}

#adminPanel .nav-tabs > li {
    margin-bottom: -1px;
    margin-left: 10px;
    padding:0 0.10em 0 0.10em
}

#adminPanel .nav-tabs > li > a {
    color: #aaa;
    margin-right: 5px;
    line-height: 1.42857;
    border-radius: 4px 4px 0 0
}

#adminPanel .nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
    color: #fff;
    cursor: default;
    background-color: #aaa;
    border: none
}

#adminPanel .tab-content > .tab-pane {
    display: none
}

#adminPanel .tab-content > .active {
    display: block
}

#adminPanel .nav-tabs {
    margin-top: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

#adminPanel .wbtn-group-xs > .wbtn,
.alertWrapper .wbtn-group-xs > .wbtn,
.wbtn-xs {
    top: 0;
    padding: 1px 5px !important
}

#adminPanel .container .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 6px
}

.alertWrapper .alert {
    top: 70px;
    z-index: 14;
    padding: 20px 40px 20px 30px;
    position: relative;
    border-radius: 5px;
    font-size: .9em !important;
    margin-bottom: 20px
}

.alertWrapper h3 {
    font-size: 1.4em !important;
    font-weight: 700;
    color: inherit
}

.alertWrapper .alert a, .alertWrapper .alert b {
    border: 0;
    color: #337ab7 !important;
    text-decoration: none
}

#adminPanel .alert-dismissible,
.alertWrapper .alert-dismissable {
    padding-right: 35px
}

.alertWrapper .alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1
}

.alertWrapper .alert-danger .alert-link {
    color: #843534
}

.alertWrapper .alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb
}

.alertWrapper .alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb
}

#adminPanel .close,
.alertWrapper .close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: #fff 0 1px 0;
    opacity: .2
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;
    overflow-y: auto
}

#adminPanel .modal.fade .modal-dialog {
    transition: transform .3s ease-out 0s;
    transform: translate(0, -25%)
}

#adminPanel .modal-open .modal {
    overflow: hidden auto;
    background-color: rgba(0, 0, 0, .6)
}

#adminPanel .modal.in .modal-dialog {
    transform: translate(0, 0)
}

#adminPanel .modal-dialog {
    position: relative;
    width: auto;
    margin: 10px auto
}

#adminPanel .modal-content {
    position: relative;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    outline: 0;
    box-shadow: rgba(0, 0, 0, .5) 0 3px 9px;
    background: #f5f5f5
}

#adminPanel .modal-header {
    padding: 15px
}

#adminPanel .modal-header .close {
    margin: 0 0 0 auto !important
}

.alertWrapper .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
    font-family: unset;
    line-height: 1 !important
}

#adminPanel .modal-body {
    position: relative;
    padding: 0 !important;
    margin-bottom: 20px
}

#adminPanel .modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5
}

#adminPanel .modal-footer .wbtn + .wbtn {
    margin-bottom: 0;
    margin-left: 5px
}

#adminPanel .modal-footer .wbtn-group .wbtn + .wbtn {
    margin-left: -1px
}

#adminPanel .modal-footer .wbtn-block + .wbtn-block {
    margin-left: 0
}

#adminPanel .wbtn-group-vertical > .wbtn-group::after,
.wbtn-group-vertical > .wbtn-group::before,
.wbtn-toolbar::after,
.wbtn-toolbar::before,
.clearfix::after,
.clearfix::before,
.container-fluid::after,
.container-fluid::before,
.container::after,
.container::before,
.dl-horizontal dd::after,
.dl-horizontal dd::before,
.wform-horizontal .wform-group::after,
.wform-horizontal .wform-group::before,
.modal-footer::after,
.modal-footer::before,
.modal-header::after,
.modal-header::before,
.nav::after,
.nav::before,
.navbar-collapse::after,
.navbar-collapse::before,
.navbar-header::after,
.navbar-header::before,
.navbar::after,
.navbar::before,
.pager::after,
.pager::before,
.panel-body::after,
.panel-body::before,
.row::after,
.row::before {
    display: table;
    content: " "
}

#adminPanel .wbtn-group-vertical > .wbtn-group::after,
.wbtn-toolbar::after,
.clearfix::after,
.container-fluid::after,
.container::after,
.dl-horizontal dd::after,
.wform-horizontal .wform-group::after,
.modal-footer::after,
.modal-header::after,
.nav::after,
.navbar-collapse::after,
.navbar-header::after,
.navbar::after,
.pager::after,
.panel-body::after,
.row::after {
    clear: both
}

#adminPanel .pull-right {
    float: right !important
}

#adminPanel .pull-left {
    float: left !important
}

#adminPanel .wbtn-group > .wbtn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
    border-radius: 0
}

#adminPanel .wbtn-group > .wbtn:first-child {
    margin-left: 0
}

#adminPanel .wbtn-group > .wbtn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

#adminPanel wbtn-group > .wbtn:last-child:not(:first-child),
.wbtn-group > .dropdown-toggle:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}

#adminPanel .wbtn-group > .wbtn-group {
    float: left
}

#adminPanel .wbtn-group > .wbtn-group:not(:first-child):not(:last-child) > .wbtn {
    border-radius: 0
}

#adminPanel .wbtn-group > .wbtn-group:first-child:not(:last-child) > .wbtn:last-child,
.wbtn-group > .wbtn-group:first-child:not(:last-child) > .dropdown-toggle {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

#adminPanel .wbtn-group > .wbtn-group:last-child:not(:first-child) > .wbtn:first-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}

#adminPanel .wbtn-group-justified {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: separate
}

#adminPanel .wbtn-group-justified > .wbtn,
#adminPanel .wbtn-group-justified > .wbtn-group {
    display: table-cell;
    float: none;
    width: 1%
}

#adminPanel .wbtn-group-justified > .wbtn-group .wbtn {
    width: 100%
}

@media (min-width: 768px) {
    #adminPanel .modal-xl {
        width: 90%;
        max-width: 1200px;
        margin: 30px auto;
        height: 100%
    }
}

@media (max-width: 768px) {
    .alertWrapper {
        min-width: 80% !important
    }
}

#menuSettings .menu-item-add {
    color: white;
    font-weight: bold;
}

.btn-info {
    color: white;
    font-weight: bold;
}
.btn-primary {
    color: white;
    font-weight: bold;
}
.modal-header > button {
    display: none;
}
#settings-header {
    justify-content: end;
    padding-bottom: 1em;
    margin-bottom: -2em;
    z-index: 9999;
}